## <summary>policy for insights_core</summary>

########################################
## <summary>
##    Start insights_client service
## </summary>
## <param name="domain">
##    <summary>
##    Domain allowed access
##    </summary>
## </param>
#
ifndef(`insights_client_service_start',`
    interface(`insights_client_service_start',`
        gen_require(`
            type insights_client_unit_file_t;
        ')

        allow $1 insights_client_unit_file_t:service { status start };
    ')
')

########################################
## <summary>
##    Stop insights_client service
## </summary>
## <param name="domain">
##    <summary>
##    Domain allowed access
##    </summary>
## </param>
#
ifndef(`insights_client_service_stop',`
    interface(`insights_client_service_stop',`
        gen_require(`
            type insights_client_unit_file_t;
        ')

        allow $1 insights_client_unit_file_t:service { status stop };
    ')
')


########################################
## <summary>
##     Execute container in the container domain.
## </summary>
## <param name="domain">
## <summary>
##     Domain allowed to transition.
## </summary>
## </param>
#
ifndef(`container_runtime_domtrans',`
    interface(`container_runtime_domtrans',`
        gen_require(`
            type container_runtime_t, container_runtime_exec_t;
            type container_runtime_tmpfs_t;
        ')
        corecmd_search_bin($1)
        domtrans_pattern($1, container_runtime_exec_t, container_runtime_t)
        allow container_runtime_t $1:fifo_file setattr;
    ')
')

########################################
## <summary>
##     Allow the domain to use the io_uring API via an inherited file
##     descriptor.
## </summary>
## <param name="domain">
## <summary>
##     Domain allowed access.
## </summary>
## </param>
#
ifndef(`kernel_io_uring_use_inherited',`
    interface(`kernel_io_uring_use_inherited',`
        gen_require(`
            type io_uring_t;
        ')
        allow $1 io_uring_t:anon_inode { getattr read write map };
    ')
')

########################################
## <summary>
##     Allow the domain to use the io_uring API.
## </summary>
## <param name="domain">
## <summary>
##     Domain allowed access.
## </summary>
## </param>
#
ifndef(`kernel_io_uring_use',`
    interface(`kernel_io_uring_use',`
        gen_require(`
            type io_uring_t;
        ')
        kernel_io_uring_use_inherited($1)
        allow $1 io_uring_t:anon_inode create;
    ')
')

#######################################
## <summary>
##      Allow a domain ioctl to install fifo files.
## </summary>
## <param name="domain">
## <summary>
##      Domain allowed access.
## </summary>
## </param>
#
ifndef(`anaconda_ioctl_fifo_files_install',`
    interface(`anaconda_ioctl_fifo_files_install',`
        gen_require(`
                type install_t;
        ')

        allow $1 install_t:fifo_file ioctl;
    ')
')

#######################################
## <summary>
##      Allow a domain write to install fifo files.
## </summary>
## <param name="domain">
## <summary>
##      Domain allowed access.
## </summary>
## </param>
#
ifndef(`anaconda_write_fifo_files_install',`
    interface(`anaconda_write_fifo_files_install',`
        gen_require(`
                type install_t;
        ')

        allow $1 install_t:fifo_file write;
    ')
')

#######################################
## <summary>
##	Read install_t process state files.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed access.
## </summary>
## </param>
#
ifndef(`anaconda_read_state_install',`
    interface(`anaconda_read_state_install',`
	gen_require(`
		type install_t;
	')

	kernel_search_proc($1)
	ps_process_pattern($1, install_t)
    ')
')

########################################
## <summary>
##	Create cloud-what cache files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
ifndef(`cloud_what_create_cache_files',`
    interface(`cloud_what_create_cache_files',`
	gen_require(`
		type cloud_what_var_cache_t;
	')

	files_search_var($1)
	create_files_pattern($1, cloud_what_var_cache_t, cloud_what_var_cache_t)
    ')
')

########################################
## <summary>
##	Write cloud-what cache files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
ifndef(`cloud_what_write_cache_files',`
    interface(`cloud_what_write_cache_files',`
	gen_require(`
		type cloud_what_var_cache_t;
	')

	files_search_var($1)
	write_files_pattern($1, cloud_what_var_cache_t, cloud_what_var_cache_t)
    ')
')
